/** analogue-clock.css (place in the same directory as AnalogueClock.java and ensure build script copies the file to the same location as AnalogueClock.class) */
#face {
  /*-fx-fill: transparent;*/
  -fx-fill: radial-gradient(radius 120%, #7290eb, derive(#7290eb, -15%), derive(#7290eb, -30%));
  -fx-stroke-width: 0;
}

#brand {
  -fx-font-size: 16px;
  -fx-font: 'fantasy';
  -fx-font-weight: bold;
}

#hourHand {
  -fx-stroke: darkslategray;
  -fx-stroke-width: 4;
  -fx-stroke-line-cap: round;
}

#minuteHand {
  -fx-stroke: derive(darkslategray, -5%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}

#secondHand {
  -fx-stroke: derive(firebrick, -15%);
  -fx-stroke-width: 2;
  -fx-stroke-line-cap: round;
}

#spindle {
  -fx-fill: derive(darkslategray, +5%);
}

.tick {
  -fx-stroke: wheat;
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}

.numtick {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}